@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color: thistle;
  --other-color: rgb(245, 245, 248);
  --font: "Barlow", sans-serif;
}

body {
  background-image: url(https://images.unsplash.com/photo-1533460004989-cef01064af7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
}
h1 {
  font-family: "Tajawal", sans-serif;
  text-align: center;
}
h2 {
  font-family: "Tajawal", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-transform: capitalize;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  padding: 2rem;
}
.card {
  background-color: var(--other-color);
  border-radius: 5px;
  min-height: 200px;
  display: grid;
  box-shadow: inset 0 0 2px black;
  cursor: pointer;
  transition: all 0.5s;
}
.card img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  filter: saturate(0.5);
}
.card:hover {
  background-color: yellowgreen;
  box-shadow: 0 0 20px rgb(8, 1, 1);
}

.card:hover img {
  filter: saturate(1);
  box-shadow: 0 0 20px rgb(8, 1, 1);
}
/*card.sprites.other.dream_world.front_default*/
